1.구조 확인/기초 정보

df.head(n)	상위 n개 행 반환 (기본 5개)

df.tail(n)	하위 n개 행 반환

df.shape	(행, 열) 튜플 반환

df.info()	열 정보, 결측값, 데이터 타입 등 요약

df.describe()	수치형 열의 통계 요약 (평균, 표준편차 등)

df.columns	열 이름 리스트 반환

df.index	인덱스 정보 반환

df.dtypes	열별 데이터 타입 확인

read_csv("URL") 파일 읽기

In [10]:
import pandas as pd


mydata = pd.read_csv("pandas_practice_stu.csv")

print(mydata)

         Name  Korean  English  Math  Science  History
0    Student1      60       95    99       91       82
1    Student2      63       84    95       65      100
2    Student3      63       89    98       90       71
3    Student4      99       79    71       60       62
4    Student5      69       79    78       96       76
5    Student6      79       74    87       94       92
6    Student7      81       99    60       89       60
7    Student8      96       92    74       63       98
8    Student9      83       61    95       94       79
9   Student10      66       69    72       73      100
10  Student11      84       92    80       99       73
11  Student12      84       91    71       81       90
12  Student13      72       70    64       69       84
13  Student14      61       83    66       60       62
14  Student15      98       95    64       70       63
15  Student16      99       71    63       83       90
16  Student17      83       88    72       62       94
17  Student18      84       94    96       94       73
18  Student19      77       60   100       95      100
19  Student20      97       60    74       90       68
20  Student21      85       96    75       63       79
21  Student22      73       65    80       78       91
22  Student23      68       98    95       95       68
23  Student24      69      100    83       80       86
24  Student25      80       77    75       77       62
25  Student26      76       75    73       87       63
26  Student27      65       64    81       74       74
27  Student28      75       91    65       61       92
28  Student29      60       61    95       96       64
29  Student30      78       61    60       70       63

df.head(n) 상위 n개 행 반환 (기본 5개)

In [9]:
print(mydata.head())

       Name  Korean  English  Math  Science  History
0  Student1      60       95    99       91       82
1  Student2      63       84    95       65      100
2  Student3      63       89    98       90       71
3  Student4      99       79    71       60       62
4  Student5      69       79    78       96       76

df.tail(n) 하위 n개 행 반환

In [11]:
print(mydata.tail(3))

         Name  Korean  English  Math  Science  History
27  Student28      75       91    65       61       92
28  Student29      60       61    95       96       64
29  Student30      78       61    60       70       63

In [14]:
print(mydata.shape)

(30, 6)

df.info() 열 정보, 결측값, 데이터 타입 등 요약

In [15]:
print(mydata.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     30 non-null     object
 1   Korean   30 non-null     int64
 2   English  30 non-null     int64
 3   Math     30 non-null     int64
 4   Science  30 non-null     int64
 5   History  30 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.5+ KB
None

df.describe() 수치형 열의 통계 요약 (평균, 표준편차 등)

In [16]:
print(mydata.describe())

          Korean     English        Math    Science     History
count  30.000000   30.000000   30.000000  30.000000   30.000000
mean   77.566667   80.433333   78.700000  79.966667   78.633333
std    12.062147   13.670213   12.779698  13.233925   13.576052
min    60.000000   60.000000   60.000000  60.000000   60.000000
25%    68.250000   69.250000   71.000000  69.250000   65.000000
50%    77.500000   81.000000   75.000000  80.500000   77.500000
75%    84.000000   92.000000   93.000000  93.250000   90.750000
max    99.000000  100.000000  100.000000  99.000000  100.000000

df.columns	열 이름 리스트 반환

In [17]:
print(mydata.columns)

Index(['Name', 'Korean', 'English', 'Math', 'Science', 'History'], dtype='object')

df.index	인덱스 정보 반환

In [18]:
print(mydata.index)

RangeIndex(start=0, stop=30, step=1)

df.dtypes	열별 데이터 타입 확인

In [19]:
print(mydata.dtypes)

Name       object
Korean      int64
English     int64
Math        int64
Science     int64
History     int64
dtype: object